
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}
@model web1._0.Models.DonHang

<div class="col-lg-12">
    <h2>Đơn hàng</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Ngày giao dự kiến</th>
                <th>Địa chỉ giao</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="@Model.Sach.hinhanh" style="height:100px;width:80px;" />
                    <p>@Model.Sach.ten</p>
                </td>
                <td>@Model.ngaygiao.ToString("dd-MM-yyyy")</td>
                <td>@Model.TaiKhoan.diachi</td>
                <td>@Model.Sach.gia</td>


            </tr>
        </tbody>
    </table>

    <b>Tên người nhận hàng:</b> @Model.TaiKhoan.hoten

    <hr />
    <button class="btn btn-danger"  type="button" onclick="location.href='@Url.Action()'">Xác nhận và thanh toán</button>
   
    <form action="https://www.baokim.vn/payment/product/version11" method="get">
    <input type="hidden" name="business" value="vinhit213@gmail.com">
    <input type="hidden" name="product_name" value="@Model.Sach.ten">
    <input type="hidden" name="product_price" value="@Model.Sach.gia">
    <input type="hidden" name="product_quantity" value="1">
    <input type="hidden" name="total_amount" value="@Model.Sach.gia">
    <input type="hidden" name="url_detail" value="http://sansachcu.tk">
    <input type="hidden" name="url_success" value="http://localhost:5820/ThanhToan/Index">
    <input type="hidden" name="url_cancel" value="http://zing.vn">
    <input type="hidden" name="order_description" value="@Model.Sach.ten">
    <input type="hidden" name="id" value="">
    <input type="image" src="https://www.baokim.vn/cdn/x_developer/module/baokim_btn/thanhtoan-l.png" border="0" name="submit" alt="Thanh toán an toàn với Bảo Kim !" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></form>
   
</div>