@model IEnumerable<web1._0.Models.DonHang>

@{
    ViewBag.Title = "kiemtradonhang";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Danh Sách đơn hàng</h2>


<table class="table" border="1">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Sach.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaygiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sach.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.diachi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaygiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.diachi)
        </td>
        <td>
            @Html.ActionLink("Tải hóa đơn", "exreport", new { id=item.ma }) 
            
        </td>
    </tr>
}

</table>
