
@{
    ViewBag.Title = "_Template";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- TemplateBeginEditable name="title" -->
    <title>SanSachCu.tk</title>
    <!-- TemplateEndEditable -->
    <!-- incluce Bootrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- incluce bootrap-->
    <!--	mobile-->
    <meta name="viewport" content="width=divice-width, inial-scale=1">
    <!--	mobile-->

    <link href="~/Assets/CSS/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/lienhe.js"></script>
</head>
<body>
    <div class="container"> 
                    <!--{Html.RenderAction("CheckSession", "TaiKhoan");}-->
                    @Html.Action("CheckSession", "TaiKhoan") 
        <div class="row">
            <div class="col-4 justify-content-between"></div>
            <div class="col-4"><img src='~/Assets/images/logo.png' class="img-fluid" alt="Placeholder image"></div>
            <div class="col-4"></div>
        </div>
        
        <div class="row justify-content-between font-weight-bold border menu">
            <ul class="nav">
                <li class="nav-item">  @Html.ActionLink("Mua sách", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">  @Html.ActionLink("Bán Sách", "Index", "BanSach", null, new { @class = "nav-link" }) </li>
                <li class="nav-item">  @Html.ActionLink("Bài tập", "BaiTap", "Home", null, new { @class = "nav-link" }) </li>

            </ul>

        </div>
        
        <div class="row">
            <div class="col-3">
                <div class="panel panel-info">
                    <div class="panel-heading">Danh Mục</div>
                    <div class="list-group">
                        @Html.ActionLink("Sách Văn Học ", "Vanhoc", "Home", null, new { @class = "list-group-item" })
                        @Html.ActionLink("Sách Hồi Kí", "HoiKi", "Home", null, new { @class = "list-group-item" })
                        @Html.ActionLink("Sách Kinh Tế", "KinhTe", "Home", null, new { @class = "list-group-item" })
                        @Html.ActionLink("Sách Văn Học Nước Ngoài", "VanHocNuocNgoai", "Home", null, new { @class = "list-group-item" })
                        @Html.ActionLink("Sách Học Tiểu Thuyết Lãng Mạn", "TieuThuyet", "Home", null, new { @class = "list-group-item" })
                        @Html.ActionLink("Sách Tham Khảo", "ThamKhao", "Home", null, new { @class = "list-group-item" })
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Lịch sữ giao dịch</div>
                    <div class="panel-body">
                        <!--{Html.RenderAction("HistoryTransaction", "Home");}-->
                        @Html.Action("HistoryTransaction", "Home")

                    </div>
                </div>
            </div>

            <div class="col-6">

                @RenderBody()

            </div>


            <div class="col-3">
                <div class="panel panel-info">

                    <div class="panel-heading">Tìm Kiếm</div>
                    <div class="panel-body">
                        <fieldset style="border:thin;color:#999;">
                            @using (Html.BeginForm("KQTimKiem", "Home", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm sách" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
    }
                        </fieldset>


                    </div>


                </div>
                <div id="lienhe">
                    <div id="slider">
                        <script>
                            var i = 0;
                            var images = [];
                            var time = 1000;

                            // Image list
                            images[0] = 'lienhe1.png';
                            images[1] = 'lienhe.png';
                            images[2] = 'lienhe1.png';
                            images[3] = 'lienhe.png';

                            // Change image
                            function changeImage() {

                                document.slide.src = '/Assets/images/' + images[i];

                                if (i < images.length - 1) {
                                    i++;
                                } else {
                                    i = 0;
                                }
                                setTimeout("changeImage()", time);
                            }

                            window.onload = changeImage;
                        </script>

                        <a href="http://m.me/thn.hoang.nhan" target="_blank"><img name="slide" width="170" height="170"></a>

                    </div>
                </div>
            </div>
            
            <div class="row">
                
                <div class="col-lg-12" align="center">
                    <hr />
                    <hr />
                    <a>Trải nghiệm cùng Sansachcu.tk</a><br>
                    Với mong muốn mang lại cho bạn đọc một điểm đến lý tưởng để mua sách với những trải nghiệm tốt nhất, Sansachcu.tk chỉ tập trung vào sản phẩm sách với hàng chục ngàn đầu sách khác nhau. Bạn có thể dễ dàng và nhanh chóng tìm được những đầu sách như ý với ít thao tác nhất và ít thời gian nhất.
                    Đội ngũ tư vấn của Sansachcu.tk với sự tận tâm và nhiệt tình luôn nỗ lực để sẵn sàng phục vụ các yêu cầu của bạn, và giúp bạn tìm ra những cuốn sách phù hợp nhất với nhu cầu đọc của mình.<br>

                    Sansachcu cảm ơn tất cả bạn đọc đã luôn ủng hộ và cam kết luôn phục vụ bạn hết mình!

                </div>



            </div>
        </div>
</body>
</html>