@model web1._0.Models.TaiKhoan

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Đăng ký tài khoản</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.tendangnhap, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.tendangnhap, new { htmlAttributes = new { @class = "textboxt" } })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.matkhau, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-6">
            @Html.PasswordFor(model => model.matkhau, new { htmlAttributes = new { @class = "textbox" } })

        </div>
    </div>
    <div class="form-group">
        <b class="control-label col-md-4">Nhập lại mật khẩu</b>
        <div class="col-md-6">
            <input type="password" name="pw" />
           

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.hoten, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.hoten, new { htmlAttributes = new { @class = "textbox" } })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ngaysinh, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.ngaysinh, new { htmlAttributes = new { @class = "textbox" } })
            @Html.ValidationMessageFor(model => model.ngaysinh, "", new { @class = "text-info col-md-10" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.diachi, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-6">
            @Html.TextAreaFor(model => model.diachi, new { htmlAttributes = new { @class = "textbox" } })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo tài khoản" class="btn btn-danger" />
        </div>
    </div>
</div>
}


